html {
  font-size: calc(0.75vh + 0.75vw);
}

:root {
  --primary-color: #7546ba;
  --secondary-color: rgb(230, 230, 230);
  --font-color: black;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #7546ba;
  --secondary-color: #282c35;
  --font-color: #fff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--primary-color);
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color);
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

body {
  font-size: calc(0.75vh + 0.75vw);
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background: var(--bg-color);
  color: var(--font-color);
  overflow-y: auto;
  scroll-behavior: smooth;
}

#page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2rem;
}

div {
  font-size: calc(0.75vh + 0.75vw);
}

.navbar {
  height: 10vh;
  width: 99.94%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-code {
  color: var(--primary-color);
}

.web {
  height: 90%;
}

.sun,
.moon {
  width: 16px;
  padding: 4px 6px;
}

/*slider switch css */
.theme-switch {
  display: inline-block;
  width: 60px;
  height: 32px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #475569;
  border-radius: 40px;
  cursor: pointer;
}

.toggle-thumb:before {
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #e2e8f0;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

input:checked + .toggle-thumb:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.intro-grid {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 0.7rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro-text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developer {
  height: 100%;
  width: 30rem;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.react,
.express,
.node,
.mongodb {
  height: 6rem;
  width: 14vw;
}

.node {
  margin-bottom: 4vh;
}

.about-me {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--secondary-color);
  border-radius: 0.7rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-head {
  height: 2rem;
  width: 6.5rem;
  display: -ms-grid;
  display: grid;
  color: #fff;
  place-items: center;
  font-weight: bold;
  border-radius: 1rem;
  background: var(--primary-color);
  opacity: 0.9;
}

.section-head:hover {
  -webkit-transform: scale(1.013);
          transform: scale(1.013);
  -webkit-box-shadow: 0 0 2px 3px #7546ba;
          box-shadow: 0 0 2px 3px #7546ba;
}

.section-content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px 3px #7546ba;
          box-shadow: 0 0 2px 3px #7546ba;
}

.profile-pic:hover {
  -webkit-transform: scale(1.013);
          transform: scale(1.013);
  -webkit-box-shadow: 0 0 6px 7px #7546ba;
          box-shadow: 0 0 6px 7px #7546ba;
}

.detailed-info {
  width: 40%;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.timeline-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 0 0;
}

.timeline-head {
  font-family: "Sacramento", cursive;
  color: var(--primary-color);
  font-size: 3rem;
}

@media (max-width: 970px) {
  .intro-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-text {
    width: 70%;
    font-size: 3rem;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logos {
    height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .react,
  .express,
  .node,
  .mongodb {
    height: 7rem;
    width: 32vw;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profile-pic {
    width: 130px;
    height: 130px;
  }
  .detailed-info {
    width: 100%;
    line-height: 2.5rem;
    margin-top: 4rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 330px) and (max-width: 650px) and (min-height: 568px) and (max-height: 800px) {
  .intro-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logos {
    height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .react,
  .express,
  .node,
  .mongodb {
    height: 6rem;
    width: 24vw;
  }
}

@media (min-width: 650px) and (max-width: 1025px) and (min-height: 1000px) {
  .intro-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-text {
    width: 70%;
    font-size: 3rem;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logos {
    height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .react,
  .express,
  .node,
  .mongodb {
    height: 6rem;
    width: 24vw;
  }
}

@media (min-width: 651px) and (max-width: 1200px) {
  .react,
  .express,
  .node,
  .mongodb {
    height: 7.8rem;
    width: 19vw;
  }
  .intro-text {
    padding: 2% 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .react,
  .express,
  .node,
  .mongodb {
    height: 6rem;
    width: 15vw;
  }
}

@media (min-width: 1024px) and (max-width: 3840px) {
  .detailed-info {
    line-height: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */