html {
  font-size: calc(0.75vh + 0.75vw);
}

:root {
  --primary-color: #7546ba;
  --secondary-color: rgb(230, 230, 230);
  --font-color: black;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #7546ba;
  --secondary-color: #282c35;
  --font-color: #fff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  display: none;
  place-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--primary-color);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

body {
  font-size: calc(0.75vh + 0.75vw);
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background: var(--bg-color);
  color: var(--font-color);
  overflow-y: auto;
  scroll-behavior: smooth;
}

#page {
  display: flex;
  flex-direction: column;
  place-items: center;
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2rem;
}

div {
  font-size: calc(0.75vh + 0.75vw);
}

.navbar {
  height: 10vh;
  width: 99.94%;
  box-sizing: border-box;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-code {
  color: var(--primary-color);
}

.web {
  height: 90%;
}

.sun,
.moon {
  width: 16px;
  padding: 4px 6px;
}

/*slider switch css */
.theme-switch {
  display: inline-block;
  width: 60px;
  height: 32px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #475569;
  border-radius: 40px;
  cursor: pointer;
}

.toggle-thumb:before {
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #e2e8f0;
  transition: 0.4s all ease;
}

input:checked + .toggle-thumb:before {
  transform: translateX(26px);
}

.intro-grid {
  width: 96%;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 0.7rem;
  justify-content: space-around;
}

.intro-text {
  width: 40%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.graphics {
  display: flex;
}

.developer {
  height: 100%;
  width: 30rem;
}

.about-me {
  width: 96%;
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: column;
  background: var(--secondary-color);
  border-radius: 0.7rem;
  align-items: flex-start;
  justify-content: space-between;
}

.section-head {
  height: 2rem;
  width: 6.5rem;
  display: grid;
  color: #fff;
  place-items: center;
  font-weight: bold;
  border-radius: 1rem;
  background: var(--primary-color);
  opacity: 0.9;
}

.section-head:hover {
  transform: scale(1.013);
  box-shadow: 0 0 2px 3px #7546ba;
}

.section-content {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.intro {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 2px 3px #7546ba;
}

.profile-pic:hover {
  transform: scale(1.013);
  box-shadow: 0 0 6px 7px #7546ba;
}

.detailed-info {
  width: 40%;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.timeline-wrapper {
  box-sizing: border-box;
  padding: 2rem 0 0;
}

.timeline-head {
  font-family: "Sacramento", cursive;
  color: var(--primary-color);
  font-size: 3rem;
}

.footer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-top: 2%;
  flex-direction: column;
  background: var(--secondary-color);
  align-items: flex-start;
  row-gap: 1rem;
  position: relative;
  justify-content: space-between;
}

.upper-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
}

.social-logo {
  height: 2rem;
  width: 2rem;
  // margin-right: 1rem;
}

.social-link {
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

.lower-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

.other-links {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

.copyright {
  font-size: 0.8rem;
  position: absolute;
  bottom: 5;
  right: 10;
}

@media (max-width: 970px) {
  .intro-grid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .intro-text {
    width: 70%;
    font-size: 3rem;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .intro {
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-pic {
    width: 130px;
    height: 130px;
  }

  .detailed-info {
    width: 100%;
    line-height: 2.5rem;
    margin-top: 4rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 330px) and (max-width: 650px) and (min-height: 568px) and (max-height: 800px) {
  .intro-grid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 650px) and (max-width: 1025px) and (min-height: 1000px) {
  .intro-grid {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .intro-text {
    width: 70%;
    font-size: 3rem;
  }
  .developer {
    width: 45vw;
    height: 30rem;
  }
  .graphics {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 651px) and (max-width: 1200px) {
  .intro-text {
    padding: 2% 0;
  }
}

@media (min-width: 1024px) and (max-width: 3840px) {
  .detailed-info {
    line-height: 2rem;
  }
}
